- const getInputName = (f, property, name) => !name ? `${f.name}[${property}]` : name;

mixin formFor(f, options = {})
  - const name = _.get(options, 'name')
  if name
    h1.display-5.text-center.my-3= name
  form(class='simple_form' action=_.get(options, 'url') method=_.get(options, 'method', 'get'))
    block

mixin input(f, property, options = { as: 'text' })
  - const value = f.object[property] === undefined ? '' : f.object[property]
  .form-group(class=(f.errors[property] && 'has-danger'))
    label= property
    input(name=getInputName(f, property, options.name) class='form-control' type=options['as'] value=`${value}`)
    if f.errors[property]
      .form-control-feedback= f.errors[property].map(({ message }) => message).join('. ')

mixin select(f, property, options = { items: [], selectId: 0 })
  - const value = f.object[property] === undefined ? '' : f.object[property]
  .form-group(class=(f.errors[property] && 'has-danger'))
    label= property
    select(name=getInputName(f, property, options.name) class='form-control select required')
      each item in options.items
        if (options.selectId == item.id)
          option(selected value=item.id)= item.name
        else
          option(value=item.id)= item.name
    if f.errors[property]
      .form-control-feedback= f.errors[property].map(({ message }) => message).join('. ')

mixin textarea(f, property, options = { text: '' })
  - const value = f.object[property] === undefined ? '' : f.object[property]
  .form-group(class=(f.errors[property] && 'has-danger'))
    lable= property
    textarea(name=getInputName(f, property, options.name) class='form-control text optional')= value
    if f.errors[property]
      .form-control-feedback= f.errors[property].map(({ message }) => message).join('. ')

mixin button(f, text = 'Save', type = 'submit')
  .form-group
    input(class='btn btn-primary-outline btn-success btn-block' type= `${type}` value=`${text}`)
