extends /layouts/application.pug

block content
  .row
    .col-lg-7.col-12.mt-4
      p.mt-2.mb-3= 'Name: ' + task.name
      p.mt-2.mb-3= 'Status: ' + status.name
      p.mt-2.mb-3= 'Creator: ' + creator.fullName
      p.mt-2.mb-3= 'Created: ' + task.created
      if task.assignedToId
        p.mt-2.mb-3= 'Assigned to: ' + assigned.fullName
      if isSignedIn()
        p.mt-2.mb-3
          a(href=urlFor('editTask', task.id)) Edit Task
        p.mt-2.mb-3
          a.text-danger(href=urlFor('destroyTask', task.id) data-method='delete' data-confirm='Are you sure you want to delete this task and all its tags?' rel='nofollow') Delete Task
    .col-lg-5.col-12.p-3
      h4.lead.my-3 Tags:
      each tag, index in tags
        p.mt-2.mb-3= `${index + 1} ${tag.name}`
      if isSignedIn()
        p.mt-2.mb-3.text-center= 'Add Tag'
        +formFor(f, { url: urlFor('tags', task.id), method: 'post' })
          +input(f, 'name')
          +button(f)

